@import "tailwindcss";

html{
scroll-behavior:smooth;
}

body{
margin:0;
padding:0;
background:#020617;
font-family:Inter,sans-serif;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#2563eb;
border-radius:20px;
}

section{
padding-top:100px;
padding-bottom:100px;
}